*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
    --header-color: #002f4f;
    --heading-color: #040b11;
    --border-color: #e1e2e8;
}

body {
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-size: 16px;
}

.header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.6rem 1.5rem;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.03);
    position: sticky;
    top: 0;
}

ul {
    padding-left: 0.8rem;
}

li {
    list-style: none;
}

@media screen and (max-width:620px) {
    .header {
        flex-direction: column;
    }

    .homeSection {
        grid-template-columns: 1fr;
    }

    .roomCard {
        flex-direction: column;
    }

    .roomCard img {
        width: 100%;
    }
     .roomCard .bedSize {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 620px) {
    .homeSection {
        grid-template-columns: 1fr 1fr;
    }

    .homeSection .room_image {
        height: 35rem;
    }

    .roomCard img {
        width: 15rem;
    }

    .roomCard .bedSize {
        margin-top: 3rem;
    }
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
}

.header h2 {
    color: var(--header-color);
}

.header span {
    flex: 1;
}

.header .navigationSection {
    display: flex;
    gap: 2.5rem;
}

.header .navigationSection a {
    text-decoration: none;
    color: var(--header-color);
    font-weight: 500;
    white-space: nowrap;
    padding: 0.5rem 0;
}

.header .navigationSection a:hover {
    text-decoration: underline;
}

main {
    padding: 0 2rem 2rem 2rem;
}

/* Home section */
.homeSection {
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

.homeSection .Description {
    width: 100%;
    padding: 0.8rem;
    background-color: #f7fafd;
    border-radius: 0.35rem;
}

.homeSection .Description h1 {
    font-size: 3em;
    color: var(--heading-color);
}

.homeSection .Description p {
    line-height: 1.5;
    font-weight: 400;
    font-family: cursive;
    color: #494444;
}

.homeSection .room_image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* ameities section */
.ameities,
.rooms {
    margin-top: 3rem;
    color: var(--heading-color);
}

.ameities .cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9rem;
}

.ameities .cardContainer .card {
    padding: 0.8rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    width: 9rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 30px rgba(44, 60, 74, .08);
}

.ameities .cardContainer .card h4 {
    margin-bottom: 0;
    white-space: nowrap;
    font-size: 0.8rem;
}

/* rooms */
.roomCard {
    display: flex;
    align-items: start;
    gap: 1rem;
    padding: 0.8rem;
    border: 1px solid var(--border-color);
    border-radius: 0.55rem;
    box-shadow: 0 2px 30px rgba(44, 60, 74, .08);
    margin-bottom: 1rem;
}

.roomCard img {
    height: 12rem;
}

.roomCard .description {
    flex: 1;
}

.roomCard .bedSize {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    gap: 0.5rem
}

.contactus {
    padding: 2rem;
    background-color: #235784;
    color: #fff;
}

.contactus .mail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.contactus a {
    text-decoration: none;
    color: #fff;
}

#rights {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

/* Medium screens (tablets and small laptops) */
@media (max-width: 1024px) {
    body {
        font-size: 15px;
    }
}

/* Small screens (phones) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* Extra small devices (small phones) */
@media (max-width: 480px) {
    body {
        font-size: 13px;
    }
}